* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #ff753f;
    color: #000000;
    font-family: american typewriter;
    font-size: medium;
    border: 5px blue;
    padding: 5px;
    margin-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    color: #000000;
    margin-top: 5%;
    background: #f6cb27;
    font-size: 3em;
    margin-bottom: 5%; 
}

img {
    height: 40vh;
    height: 25vh;
    object-fit: cover;
}

li {
    color: #000000;
}

nav ul {
    display: flex;
    color: #BF8049;
    border-radius: 25%;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    background-color: #f4debbc9;
    color: #401A0D;
    list-style-type: none;
}

nav a {
    border: solid #CF1FFF;
    background-color: #f6cb27;
    border-radius: 20%;
    padding: 25px;
    transition: background-color 350ms ease; /*notitie*/
    box-shadow: 2px 2px 2px #CF1FFF;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    background-color: #CF1FFF;
}
div.alex {
    background-color:rgba(250, 121, 233, 0.68);
    display: flex;
    align-items: baseline;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    padding: 20px;
}

.hoofdfoto img {
    max-width: 100%;
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 100%;
    text-align:center;
}

div.pics {
    display: flex;
    padding: 20px;
    border-radius: 30px;
    flex-wrap: wrap;
}

div section{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    width: 19vw;
}

.purplebg{
    background: #CF1FFF;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    p{
        width: 100%;
    }
}

.hoofd img{
    display: flex;
    width: 1440px;
}

.hoofd p{
    display: flex;
    background-color:rgba(250, 121, 233, 0.68);
    padding: 40px;
}

.hoofd h2{
    display: flex;
    background-color:rgba(250, 121, 233, 0.68);
    justify-content: center;
}